@font-face {
  font-family: 'Basier Regular';
  src: url('./assets/fonts/BasierCircleRegular.otf');
}

@font-face {
  font-family: 'Basier Medium';
  src: url('./assets/fonts/BasierCircleMedium.otf');
}

@font-face {
  font-family: 'Basier Bold';
  src: url('./assets/fonts/BasierCircleBold.otf');
}

@font-face {
  font-family: 'Bodoni Book';
  src: url('assets/fonts/BodoniBookSSiBook.ttf');
}

html, body, #app, #app> div {
  margin: 0;
  height: 100%;
  width: 100%
}

/* Force calendar styling */
.MuiPickersCalendarHeader-switchHeader > div p{
  color: #151D15;
  font-family: "Basier Medium"
}

.MuiPickersToolbar-toolbarLandscape {
  width: 150px !important;
}

/* Force cursor styling to the upload button */
input[type=file], /* FF, IE7+, chrome (except button) */
input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
    cursor: pointer; 
}

/* Change Autofill styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
  -webkit-text-fill-color: #fff;
  font-size: 17;
  font-family: "Basier Regular";
}
