@font-face {
  font-family: 'Basier Regular';
  src: url('./assets/fonts/BasierCircleRegular.otf');
}

@font-face {
  font-family: 'Basier Medium';
  src: url('./assets/fonts/BasierCircleMedium.otf');
}

@font-face {
  font-family: 'Basier Bold';
  src: url('./assets/fonts/BasierCircleBold.otf');
}

html, body, #app, #app> div {
  margin: 0;
  height: 100%;
  width: 100%
}
